AutoCMS AI 内容工厂-seo分类-product_manager.json
{
  "name": "AutoCMS AI 内容工厂-seo分类-product_manager",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "1640fc68-41d2-4d7d-ac97-68ff30bd5029",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        -304
      ],
      "notes": "每天早上9点触发，调试时可禁用，使用 Test Workflow 手动触发"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "30468317-3139-4a9c-a06c-ad9ce2a57b83",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        -304
      ],
      "notes": "一次处理一个，给 RPA 足够时间"
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = items[0].json;\n\nfunction extractJson(str) {\n  if (typeof str !== 'string') return str;\n  const firstOpen = str.indexOf('{');\n  const lastClose = str.lastIndexOf('}');\n  if (firstOpen !== -1 && lastClose !== -1 && lastClose > firstOpen) {\n    return str.substring(firstOpen, lastClose + 1);\n  }\n  return str;\n}\n\nlet content;\ntry {\n  let rawContent;\n  if (aiResponse.output) {\n    rawContent = aiResponse.output;\n  } else if (aiResponse.choices && aiResponse.choices[0]?.message?.content) {\n    rawContent = aiResponse.choices[0].message.content;\n  } else {\n    rawContent = JSON.stringify(aiResponse);\n  }\n  if (typeof rawContent === 'string') {\n    content = JSON.parse(extractJson(rawContent));\n  } else {\n    content = rawContent;\n  }\n} catch (e) {\n  content = { title: '解析错误', html_content: '<p>解析失败</p>', category_id: '1' };\n}\n\nconst title = content.title || '未命名文章';\nconst html_content = content.html_content || '';\nconst category_id = content.category_id || '1';\nconst summary = content.summary || '';\nconst keywords = content.keywords || '';\nconst description = content.description || '';\nconst tags = content.tags || '';\nconst recordId = $('Loop Over Items').first().json.record_id;\n\nreturn [{\n  json: { \n    title, \n    html_content, \n    category_id, \n    summary, \n    keywords, \n    description, \n    tags,\n    record_id: recordId \n  }\n}];"
      },
      "id": "74af87e2-26d9-448e-a363-c139992d1d74",
      "name": "准备文件数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -432
      ],
      "notes": "解析 DeepSeek API 输出的 JSON，准备 HTML 文件用于本地备份"
    },
    {
      "parameters": {
        "resource": "base",
        "operation": "updateRecord",
        "app_token": {
          "__rl": true,
          "value": "ROVGbzfTfaEGjosDkxHck65Cnmx",
          "mode": "id"
        },
        "table_id": {
          "__rl": true,
          "value": "tblxkLHxg9K3uHyp",
          "mode": "id"
        },
        "record_id": "={{ $('Loop Over Items').item.json.record_id }}",
        "body": "={\n  \"fields\": {\n    \"Status\": \"Published\",\n    \"Title\": {{ JSON.stringify($('准备文件数据').first().json.title) }},\n    \"HTML_Content\": {{ JSON.stringify($('准备文件数据').first().json.html_content) }},\n    \"摘要\": {{ JSON.stringify($('准备文件数据').first().json.summary || '') }},\n    \"关键词\": {{ JSON.stringify($('准备文件数据').first().json.keywords || '') }},\n    \"描述\": {{ JSON.stringify($('准备文件数据').first().json.description || '') }},\n    \"Tags\": {{ JSON.stringify($('准备文件数据').first().json.tags || '') }}\n  }\n}",
        "options": {}
      },
      "id": "b1adebdc-597d-4071-9c60-ab77cda96e07",
      "name": "更新飞书状态",
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        1888,
        -304
      ],
      "webhookId": "e72304b7-c408-4cec-891e-621a9c68d825",
      "credentials": {
        "larkApi": {
          "id": "jigwhXlkgmd6UEGy",
          "name": "feisu Tenant Token account"
        }
      },
      "notes": "更新飞书表格：Status=Published，回填标题和 HTML 内容"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=主题：{{ $json.items[0].fields.Topic[0].text }}",
        "options": {
          "systemMessage": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个资深的行业内容编辑，专注于包装印刷行业。请根据用户提供的主题，撰写一篇专业、深入、有价值的文章。\\n\\n【写作要求】\\n1. 文章字数在 1000 字左右，内容充实、逻辑清晰\\n2. 开篇要有引人入胜的导语，结尾要有总结或行动号召\\n3. 使用专业术语，但要通俗易懂\\n4. 可以适当使用数据、案例来增强说服力\\n5. 段落分明，便于阅读\\n\\n【重要格式指令】\\n1. 必须直接输出标准的 JSON 字符串\\n2. 严禁使用 Markdown 代码块（即不要用 ```json ... ``` 包裹）\\n3. 不要输出任何 JSON 之外的解释性文字\\n\\n【JSON 结构要求】\\n{\\n  \\\"title\\\": \\\"标题（必须15字以内，超过15字会被拒绝）\\\",\\n  \\\"html_content\\\": \\\"纯HTML格式的正文（不含<html><body>标签，使用<h2>作为小标题，<p>分段落，可使用<ul><li>列表）\\\",\\n  \\\"category_id\\\": \\\"数字字符串，根据下方逻辑判断\\\",\\n  \\\"summary\\\": \\\"文章摘要（120字以内，概括文章核心观点）\\\",\\n  \\\"keywords\\\": \\\"3-5个SEO关键词，用逗号分隔\\\",\\n  \\\"description\\\": \\\"SEO描述（120字以内，用于搜索引擎展示）\\\",\\n  \\\"tags\\\": \\\"3-5个相关标签，用逗号分隔\\\"\\n}\\n\\n【标题要求 - 非常重要】\\n- 标题必须控制在15个中文字符以内\\n- 要简洁有力、吸引眼球\\n- 避免使用冒号、破折号等分隔符拉长标题\\n\\n【category_id 判断逻辑】\\n- 如果内容偏向技术干货、教程、工艺解析，填 \\\"1\\\" (专业知识)\\n- 如果内容偏向新闻、趋势、行业动态，填 \\\"2\\\" (行业资讯)\\n- 如果内容偏向产品推销、产品介绍、解决方案，填 \\\"3\\\" (产品介绍)\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"主题：{{ $json.fields.Topic?.map(t=>t.text).join('\\\\n') }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.7,\n  \"max_tokens\": 4096\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1088,
        -432
      ],
      "id": "acd18d83-ab28-4afb-a090-9f1b739023cc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1168,
        -208
      ],
      "id": "1cd12eba-43fa-411b-bb97-25a9bfdedbda",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "2NQ15IR8zXIkznUx",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst requestBody = {\n  context: {\n    title: data.title,\n    html: data.html_content,\n    categoryId: data.category_id,\n    summary: data.summary || '',\n    keywords: data.keywords || '',\n    description: data.description || '',\n    tags: data.tags || '',\n    username: \"product_manager\",\n    password: \"5227756c4aae247b\",\n    login_url: \"https://heyijiapack.com/news/user-login.html\",\n    admin_url: \"https://heyijiapack.com/news/admin/index.php\",\n    post_url: \"https://heyijiapack.com/news/admin/index.php?0=content&1=create&fid=2\"\n  },\n  code: `module.exports = async({page,context})=>{\n    const{title,html,categoryId,summary,keywords,description,tags,username,password,login_url,admin_url,post_url}=context;\n    const wait=(ms)=>new Promise(r=>setTimeout(r,ms));\n    \n    await page.goto(login_url,{waitUntil:'networkidle2',timeout:60000});\n    await wait(2000);\n    const emailInput=await page.$('#email');\n    if(emailInput){\n      await page.type('#email',username);\n      await page.type('#password',password);\n      await page.evaluate(()=>{const btns=document.querySelectorAll('#submit');if(btns.length>0)btns[btns.length-1].click()});\n      await wait(5000);\n    }\n    \n    await page.goto(admin_url,{waitUntil:'networkidle2',timeout:60000});\n    await wait(3000);\n    const pwdField=await page.$('input[type=password]');\n    if(pwdField){\n      await pwdField.type(password);\n      await page.keyboard.press('Enter');\n      await wait(5000);\n    }\n    \n    await page.goto(post_url,{waitUntil:'domcontentloaded',timeout:60000});\n    await wait(3000);\n    \n    await page.type('#subject',title);\n    try{await page.select('select[name=\"fid\"]',String(categoryId))}catch(e){}\n    await wait(1000);\n    \n    // 填 SEO 字段\n    await page.evaluate((data)=>{\n      const brief=document.querySelector('#brief');\n      if(brief)brief.value=data.summary;\n      const kw=document.querySelector('#keyword');\n      if(kw)kw.value=data.keywords;\n      const desc=document.querySelector('#description');\n      if(desc)desc.value=data.description;\n    },{summary,keywords,description});\n    \n    // 勾选\"禁止评论\"\n    await page.evaluate(()=>{\n      const closedBox = document.querySelector('#closed-box');\n      if(closedBox && !closedBox.checked){\n        closedBox.click();\n      }\n    });\n    await wait(500);\n    \n    // 直接设置 tags 隐藏字段\n    if(tags){\n      await page.evaluate((tagsValue)=>{\n        const tagsInput = document.querySelector('#tags');\n        if(tagsInput) tagsInput.value = tagsValue;\n      }, tags);\n    }\n    await wait(500);\n    \n    // 填正文\n    await page.evaluate((c)=>{\n      if(typeof UM!=='undefined'){try{UM.getEditor('message').setContent(c);return}catch(e){}}\n      if(typeof UE!=='undefined'){try{UE.getEditor('message').setContent(c);return}catch(e){}}\n      const el=document.querySelector('#message');\n      if(el){el.value=c}\n    },html);\n    await wait(2000);\n    \n    await page.evaluate(()=>{document.getElementById('submit').click()});\n    await wait(10000);\n    \n    return{status:'Published',url:page.url()};\n  }`\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://browserless:3000/function',\n  body: requestBody,\n  json: true\n});\n\nreturn [{\n  json: {\n    ...data,\n    rpa_response: response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -432
      ],
      "id": "4d2643b9-6e4f-4de6-96e4-6b8512e7934e",
      "name": "RPA 发布到 CMS"
    },
    {
      "parameters": {
        "resource": "base",
        "operation": "searchRecords",
        "app_token": {
          "__rl": true,
          "value": "ROVGbzfTfaEGjosDkxHck65Cnmx",
          "mode": "id"
        },
        "table_id": {
          "__rl": true,
          "value": "tblxkLHxg9K3uHyp\t",
          "mode": "id"
        },
        "body": "={\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"Status\",\n        \"operator\": \"is\",\n        \"value\": [\"Pending\"]\n      },\n      {\n        \"field_name\": \"大项分类\",\n        \"operator\": \"is\",\n        \"value\": [\"专业知识\"]\n      }\n    ]\n  }\n}",
        "options": {
          "user_id_type": "open_id"
        }
      },
      "id": "75422b06-a31c-4036-a212-9979f9275291",
      "name": "获取专业知识主题",
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        -32,
        -496
      ],
      "webhookId": "90cc397d-904d-4ecc-86db-d982bac84d30",
      "credentials": {
        "larkApi": {
          "id": "jigwhXlkgmd6UEGy",
          "name": "feisu Tenant Token account"
        }
      },
      "notes": "从飞书多维表格读取 Status=Pending 的选题，每次限制1条用于测试"
    },
    {
      "parameters": {
        "resource": "base",
        "operation": "searchRecords",
        "app_token": {
          "__rl": true,
          "value": "ROVGbzfTfaEGjosDkxHck65Cnmx",
          "mode": "id"
        },
        "table_id": {
          "__rl": true,
          "value": "tblxkLHxg9K3uHyp\t",
          "mode": "id"
        },
        "body": "={\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"Status\",\n        \"operator\": \"is\",\n        \"value\": [\"Pending\"]\n      },\n      {\n        \"field_name\": \"大项分类\",\n        \"operator\": \"is\",\n        \"value\": [\"行业资讯\"]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "67de8218-cd9d-484c-8a2a-797dcd898f25",
      "name": "获取行业资讯主题",
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        -32,
        -304
      ],
      "webhookId": "122bd121-d79c-458f-8933-f657f65b9b4a",
      "credentials": {
        "larkApi": {
          "id": "jigwhXlkgmd6UEGy",
          "name": "feisu Tenant Token account"
        }
      },
      "notes": "从飞书多维表格读取 Status=Pending 的选题，每次限制1条用于测试"
    },
    {
      "parameters": {
        "resource": "base",
        "operation": "searchRecords",
        "app_token": {
          "__rl": true,
          "value": "ROVGbzfTfaEGjosDkxHck65Cnmx",
          "mode": "id"
        },
        "table_id": {
          "__rl": true,
          "value": "tblxkLHxg9K3uHyp\t",
          "mode": "id"
        },
        "body": "{\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"Status\",\n        \"operator\": \"is\",\n        \"value\": [\"Pending\"]\n      },\n      {\n        \"field_name\": \"大项分类\",\n        \"operator\": \"is\",\n        \"value\": [\"产品介绍\"]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "edf9aa5b-5042-46fd-99e1-e3cd827c429f",
      "name": "获取产品介绍主题",
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        -32,
        -112
      ],
      "webhookId": "f698b978-4a71-4dba-9822-8f51c112488e",
      "credentials": {
        "larkApi": {
          "id": "jigwhXlkgmd6UEGy",
          "name": "feisu Tenant Token account"
        }
      },
      "notes": "从飞书多维表格读取 Status=Pending 的选题，每次限制1条用于测试"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        -320
      ],
      "id": "8b6a43b1-b84a-4026-96a3-e8e90845cd74",
      "name": "合并所有主题"
    },
    {
      "parameters": {
        "maxItems": 2,
        "keep": "="
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        -496
      ],
      "id": "57b475b2-9f59-4e61-aa4d-dc5cec205bb5",
      "name": "限制专业知识数量"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        -496
      ],
      "id": "d1a93460-e945-49c0-bdd3-9960e7e93b12",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        -304
      ],
      "id": "01b54528-a696-4644-8f68-8c79b05f906a",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "maxItems": 2,
        "keep": "="
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        -304
      ],
      "id": "415d0413-fab3-4843-a3cb-cc01154e8ea1",
      "name": "限制行业资讯数量"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        -112
      ],
      "id": "29d9eeb1-2763-4c3f-ac66-ff307413c37c",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "maxItems": 2,
        "keep": "="
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        -112
      ],
      "id": "cc5d0707-ee0f-4218-871a-6cbc86574094",
      "name": "限制产品介绍数量"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "获取专业知识主题",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取行业资讯主题",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取产品介绍主题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备文件数据": {
      "main": [
        [
          {
            "node": "RPA 发布到 CMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新飞书状态": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "准备文件数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPA 发布到 CMS": {
      "main": [
        [
          {
            "node": "更新飞书状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取专业知识主题": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取行业资讯主题": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取产品介绍主题": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并所有主题": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "限制专业知识数量": {
      "main": [
        [
          {
            "node": "合并所有主题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "限制专业知识数量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "限制行业资讯数量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "限制行业资讯数量": {
      "main": [
        [
          {
            "node": "合并所有主题",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "限制产品介绍数量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "限制产品介绍数量": {
      "main": [
        [
          {
            "node": "合并所有主题",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "18129b54-4d73-4456-9f1e-8dc221a900c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d87a9ec662d8e6a52faf51eddf805c10775601e1443648c2eadd22d071aa3be"
  },
  "id": "bVbvrwpBWj7dqv0x",
  "tags": [
    {
      "updatedAt": "2025-12-30T03:36:32.520Z",
      "createdAt": "2025-12-30T03:36:32.520Z",
      "id": "vV8zEAKqfgtMy8xC",
      "name": "AutoCMS"
    }
  ]
}